html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    position: relative;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
    background: url('https://github.com/Hasitha-D/Hasitha-D.github.io/raw/main/4cba9388025117cb8c60a4f8610f90f5.gif') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container {
    max-width: 400px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 10;
}

input, button {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    width: 80%;
}

button {
    background: #ff9800;
    color: white;
    cursor: pointer;
}

#weatherInfo {
    margin-top: 20px;
    font-weight: bold;
    z-index: 11;
}

#forecast-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    z-index: 11;
}

.forecast-day {
    text-align: center;
    margin: 10px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    width: 150px;
    position: relative;
    z-index: 12;
}

#loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    color: #ffffff;
    z-index: 100;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://github.com/Hasitha-D/Hasitha-D.github.io/raw/main/4cba9388025117cb8c60a4f8610f90f5.gif') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}
